
.contenedor {
    border: 1px solid black;
    margin: 10px;
    width: 400px;
}


.sub_contenedor {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

h2 {
    padding: 0;
    margin: 0;
}

p {
    padding-left: 60px;
}

/* contenedores */

.contenedor_principal{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contenedor_izquierda {
    background-color: blueviolet;
    height: 200px;
}

.titulo {
    text-align: center;
}
img {
    width: 50px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 10px;
}

.nombre {
    text-align: center;
}

.encabezado {
    background-color: black;
    color: white;
    width: 540px;
    margin-left: 360px;

}
